# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/

# VSCode settings
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Python environment files
*.env
.env
